
.intro {
  color: white;
  width: 100%;
  padding: 100px 0;
  background: url( theme/img/intro-bg-original.jpg ) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.links-section {
  color: white;
  width: 100%;
  padding: 50px 0;
  background: url( theme/img/links-bg-gears.jpg ) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}




.scuryv-knave-intro {
    color: #fff;
}
a {
  color: #aced00;
}
a:hover,
a:focus {
  color: #84b400;
}
.btn-default {
  border: 1px solid #aced00;
  color: #aced00;
  /*background-color: transparent;*/
  background-color: #000;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #aced00;
  outline: none;
  color: black;
  background-color: #aced00;
}
